html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #5ac8fa;
  --primary-red: #f56565;
  --primary-green: #40c0a0;
  --light-gray: #e5e7eb;
}

body {
  font-family: sans-serif;
}

.text-bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.past-due {
  color: var(--primary-red);
}

.future-due {
  color: var(--primary-green);
}

.due-today {
  color: var(--primary-blue);
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  padding: 0.5rem;
}

.title {
  font-family: serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.title > .sub-title {
  color: var(--primary-blue);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.new-todo-btn {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary-blue);
  color: white;
  font-weight: 500;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.25rem;
  transition: all 200ms ease-in-out;
}

.new-todo-btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.new-todo-btn-container {
  display: flex;
  justify-content: center;
}

.side-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.tab {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 500;
  text-align: left;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.1rem;
  transition: all 200ms ease-in-out;
}

.tab:hover {
  background-color: var(--light-gray);
}

.edit-todo-btn,
input[type='submit'] {
  background-color: var(--light-gray);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

input[type='submit'] {
  background-color: var(--primary-blue);
  color: white;
  width: 100%;
}

dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1rem;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

textarea {
  resize: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.close-modal-btn {
  height: 2rem;
  width: 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25em;
  background-color: var(--primary-red);
  color: white;
}

.selected {
  background-color: var(--light-gray);
}
