html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #5ac8fa;
  --primary-red: #f56565;
  --primary-green: #40c0a0;
  --light-gray: #e5e7eb;
  --medium-gray: #c7c9cd;
  --light-blue: #c9edfd;
}

body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.past-due {
  color: var(--primary-red);
}

.future-due {
  color: var(--primary-green);
}

.due-today {
  color: var(--primary-blue);
}

main {
  display: grid;
  grid-template-columns: max(25%, 250px) 1fr;
}

.title {
  font-family: serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.new-todo-btn-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.tutorial-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
}

.title > .sub-title {
  color: var(--primary-blue);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.new-todo-btn,
.replay-tutorial-btn,
.end-tutorial-btn {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.125rem;
}

.new-todo-btn {
  border: none;
  background-color: var(--primary-blue);
  color: white;
  transition: box-shadow 200ms ease-in-out;
}

.new-todo-btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.replay-tutorial-btn,
.end-tutorial-btn {
  border: 1px solid var(--primary-red);
  background-color: white;
  color: var(--primary-red);
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.replay-tutorial-btn:hover,
.end-tutorial-btn:hover {
  color: white;
  background-color: var(--primary-red);
}

.title,
.side-links,
.new-todo-btn-container,
.tutorial-btn-container {
  padding: 1rem;
}

main {
  height: 100svh;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;

  display: flex;
  flex-direction: column;
}

.side-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 500;
  text-align: left;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.1rem;
  transition: background-color 200ms ease-in-out;
}

.side-links:not(:has(.dragging)) .tab-container:not(.dragging):hover .tab {
  background-color: var(--light-gray);
}

.edit-todo-btn,
input[type='submit'] {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  background-color: var(--light-gray);
}

input[type='submit'] {
  background-color: var(--primary-blue);
  color: white;
  width: 100%;
  transition: box-shadow 200ms ease-in-out;
}

input[type='submit']:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
}

dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  inset: 50%;
  padding: 1rem;
  width: 80%;
  max-width: 450px;
  min-width: 300px;
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

textarea {
  resize: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.close-modal-btn {
  height: 2rem;
  width: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25em;
  background-color: var(--primary-red);
  color: white;
}

.selected {
  background-color: var(--light-gray);
}

.checkbox {
  margin-right: 0.5rem;
}

.list-title {
  margin: 0 0.5rem 0.5rem;
  color: var(--primary-blue);
}

.todo {
  list-style: none;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: background-color 200ms ease-in-out;
  min-height: 65px;
  position: relative;
}

.todo:not(:last-child)::after {
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-description {
  height: 1em;
  margin-left: 1.25rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.todo-btn-container {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  margin-top: 0.5rem;

  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.todo-main {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.todo-title {
  font-size: 1.125rem;
}

.todo-date {
  margin-left: auto;
  font-size: 0.9rem;
}

.content {
  padding: 2rem;
}

.tab-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: relative;
}

.edit-list-btn,
.delete-list-btn {
  cursor: default;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem;

  display: grid;
  place-items: center;

  position: absolute;
}

.delete-list-btn {
  right: 0.5rem;
}

.edit-list-btn {
  right: 2.75rem;
}

.delete-list-btn:focus,
.delete-list-btn:hover,
.delete-todo-btn:focus,
.delete-todo-btn:hover {
  color: var(--primary-red);
}

.delete-list-btn:hover,
.edit-list-btn:hover {
  background-color: var(--medium-gray);
}

.edit-list-btn,
.delete-list-btn,
.todo .edit-todo-btn,
.todo .delete-todo-btn {
  visibility: hidden;
}

.tab-container:has(.selected):focus-within .edit-list-btn,
.tab-container:has(.selected):hover .edit-list-btn,
.tab-container:has(.selected):focus-within .delete-list-btn,
.tab-container:has(.selected):hover .delete-list-btn {
  visibility: visible;
}

.todo:focus-within .edit-todo-btn,
.todo:hover .edit-todo-btn,
.todo:focus-within .delete-todo-btn,
.todo:hover .delete-todo-btn {
  visibility: visible;
}

ul:not(:has(.dragging)) .todo:hover {
  background-color: var(--light-gray);
}

.todo .edit-todo-btn:hover,
.todo .delete-todo-btn:hover {
  background-color: var(--medium-gray);
}

.edit-todo-btn,
.delete-todo-btn {
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem;

  display: grid;
  place-items: center;
}

.edit-todo-btn:hover,
.delete-todo-btn:hover {
  background-color: var(--light-gray);
}

.tab-container .edit-icon,
.tab-container .trash-icon {
  font-size: 24px;
}

.todo .edit-icon,
.todo .trash-icon {
  font-size: 18px;
}

.dragging {
  background-color: var(--light-blue);
  border-radius: 1rem;
}

.tab-container.dragging .tab.selected {
  background-color: var(--light-blue);
}

input {
  padding: 0.5rem 1rem;
}

textarea {
  padding: 1rem;
}

select {
  padding: 0.25rem 0.5rem;
}

input,
textarea,
select {
  font-size: 1rem;
}

.modal-header p {
  font-size: 1.4rem;
}

label:not(> .todo-title) {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.line-through {
  color: rgba(0, 0, 0, 0.6);
}

.checkbox + label:hover {
  color: rgba(0, 0, 0, 0.8);
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.line-through {
  position: relative;
}

.line-through::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.todo-description-container {
  margin-right: 4rem;
}

.todo-main:has(.line-through) ~ .todo-btn-container .edit-todo-btn {
  display: none;
}

dialog {
  display: block;
  transition: opacity 200ms ease-in-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog[open] {
  opacity: 1;
}
