html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.past-due {
  color: red;
}

.future-due {
  color: green;
}

.due-today {
  color: blue;
}

.text-bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.list-title {
  display: inline;
}

details:not(:first-child) {
  margin-top: 2rem;
}

details summary {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  padding: 0.5rem;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.sub-title {
  color: #3fa4ec;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.new-todo-btn {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: #3fa4ec;
  color: white;
  font-weight: 500;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.25rem;
  transition: all 300ms ease-in-out;
}

.new-todo-btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

}

.new-todo-btn-container {
  display: flex;
  justify-content: center;
}

.side-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.side-links li {
  list-style: none;
  border-radius: 1rem;
  padding: 0.75rem;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.side-links li:hover {
  background-color: #e5e7eb;
}
